<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div class="container" id="description">
<h1>Welcome to Nanny.</h1><br>
<p>Our goal here at Nanny is to serve you. 
  We want to serve our community better. We know what it is like to 
  be new parents, or to have a busy life and it is hard to take care of 
  the small details of life in the process.
  
  We are a non-pofit 
  that aims to provide top notch services for young families, single parents, or those in need.
  We offer services like cleaning, cooking, and many others.  
</p>



</div>

  <img class= "background" src="assets/images/background.jpg">
</body>
</html>